.running-body {
  background-color: #ccc;
}

.running-gamen{
  display: flex;
  justify-content: center;
  align-items: center;
}
#running-myCanvas {
  background-color: black;
  margin: 0 auto;
  margin: 50px 0 0 0;
}

.running-sitagamen{
  display: flex;
  justify-content: center;
}
.running-modoru{
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.running-modorubtn{
  display: block;
  margin: 0 20px 0 20px;
  height: 40px;
  width: 80px;
  background-color: blue;
  filter: drop-shadow(3px 3px 3px rgba(60,60,60,5));
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: solid 1px rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-size: 15px;
}
.running-textbox{
  margin: 30px 0;
}
.running-textbox-explanation{
  border: solid 2px rgb(100, 100, 100);
  border-radius: 20px;
  width: 700px;
  height: 125px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
